/* Header */
header {
  display: flex;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  width: 100%;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 80px;
  background-color: white;
}

div {
  border: 2px solid black;
}


header nav {
  display: inline-block;
  padding-right: 40px;
  color: black;
}

nav a {
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: mediumaquamarine;
}

/* Main Container */
.content {
  display: flex;
  padding-top: 100px;
  margin: 0 auto 78px auto;
  width: 1232px;
}

.column {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-right: 32px;
}

/* First Column */
.column.large {
  display: flex;
  width: 630px;
}

/*Second Column*/
.column.medium {
  display: flex;
  width: 300px;
}

/*Third Column */
.column.small {
  display: flex;
  width: 240px;
}
